<head>
  <link rel="stylesheet" href="./style.css">
</head>

<div>

  <h1>Welcome to your Daily Diary</h1>

  <form action='/view' method='post'>
    <input type=submit name='view diary' value='View Diary'>
  </form>

  <form action='/new_entry' method=post>
    <input type=submit name='new entry' value='New Entry'>
   </form>

 </div>
